<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<div class="container">
  <h1>TV Shows and Movies</h1>

  <h2>To Be Watched </h2>
  <ul>
    <% for(let i = 0; i < movies.length; i++){ %>
      <% if (movies[i].userID === viewUserID) { %>
          <% if (movies[i].watched === false) {%>
          <li>
            <h3> <%= movies[i].name %> </h3>
            <img src="<%=movies[i].img%>" alt="media image">
            </li>
            <% } %>
          <% } %>
        <% } %>
      </ul>

      <h2> Already Watched </h2>
      <ul>
        <% for(let j = 0; j < movies.length; j++){ %>
          <% if (movies[j].userID === viewUserID) { %>
              <% if (movies[j].watched === true) {%>
              <li>
                <h3> <%= movies[j].name %> </h3>
                <img src="<%=movies[j].img%>" alt="media image">
                </li>
                  <% } %>
              <% } %>
            <% } %>
          </ul>

</div>

      <%- include('../partials/footer.ejs') %>
